<div style="margin-top: 90px">
  <!-- <p class="pageTitle">(Please check and confirm)</p> -->

  <app-carttotal></app-carttotal>
</div>

<p class="pageTitle">Payment Options</p>
<br />
<div style="margin-bottom: 20%">
  <p class="pageTitle">
    <button
      class="btn-submitFIT"
      (click)="cod()"
      style="
        width: fit-content;
        padding: 10px;
        background-color: white;
        color: black;
        font-weight: bolder;
      "
    >
      CASH ON DELIVERY
    </button>
    <br />
    <br />
    <button
      class="btn-submitFIT"
      (click)="cod()"
      style="
        width: fit-content;
        padding: 10px;
        background-color: white;
        color: black;
        font-weight: bolder;
      "
    >
      CREDIT / DEBIT / ATM CARD
    </button>

    <br />
    <br />
    <button
      class="btn-submitFIT"
      (click)="cod()"
      style="
        width: fit-content;
        padding: 10px;
        background-color: white;
        color: black;
        font-weight: bolder;
      "
    >
      NETBANKING
    </button>
  </p>
</div>
