.jumbotronBasic {
  height: 110px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 0.8em;
  width: 95%;
}

mat-card {
  background-color: transparent;
  color: white;
  border-color: rgb(218, 216, 216);
  width: 95%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.btn-submitFIT {
  background-color: white;
  color: black;
}

@media screen and (max-width: 425px) {
  .jumbotronBasic {
    height: 160px;
  }
  .pageTitle {
    font-size: 20px;
  }

  .btn-submitFIT {
    width: 55px;
    height: 31px;
    padding: 1px;
    font-size: 14px;
  }
}
