.jumbotron {
  margin-top: 0px;
  min-height: 100%;
}
.card {
  height: auto;
  max-width: 400px;

  // instead of using margin-left and margin-right
  margin-block-start: auto;
  margin-block-end: auto;
  margin-top: 15px;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  // border-radius: 1em;
  border-top-left-radius: 4.5em;
  border-bottom-right-radius: 4.5em;

  // transition: all 0.2s ease-in-out;
  // font-size: 20px;
  // line-height: 30px;
}

img {
  margin-bottom: 20px;
  align-content: center;
}

.responsive {
  text-align: center;
  padding: 20px;
}

h2 {
  height: 50px;
}
//  media queries for different size of screen //

@media screen and (min-width: 701px) {
  // For big screens
}

@media screen and (max-width: 700px) {
  // For small screens
  .card {
    max-width: 400px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
}
