<mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Filter Option - 1</span>
    <span matLine>Add to a note</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Filter Option - 2</span>
    <span matLine>Embed in a document</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Filter Option - 3</span>
    <span matLine>Share with your friends</span>
  </a>

  <a
    href="https://hangouts.google.com/"
    mat-list-item
    (click)="openLink($event)"
  >
    <span matListItemTitle>Filter Option - 4</span>
    <span matLine>Show to your coworkers</span>
  </a>
</mat-nav-list>
