.flex-container {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(160deg, rgb(31, 6, 16) 40%, #121213 74%);
}

.jumbotron {
  background: linear-gradient(160deg, rgb(31, 6, 16) 40%, #121213 74%);
  border: none;
}
