<form
  class="emailform-card containerSM"
  [formGroup]="frmEmailPassword"
  (ngSubmit)="onFormSubmit(this.frmEmailPassword.value)"
>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      id="email"
      type="email"
      placeholder="Email"
      formControlName="email"
    />
    <mat-error *ngIf="frmEmailPassword.controls['email']?.errors?.['required']">
      Email cannot be null/blank!
    </mat-error>

    <mat-error *ngIf="frmEmailPassword.controls['email']?.errors?.['email']">
      Please enter valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      id="password"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <mat-error
      *ngIf="frmEmailPassword.controls['password']?.errors?.['required']"
    >
      Password cannot be null/blank!
    </mat-error>
    <mat-error
      *ngIf="frmEmailPassword.controls['password']?.errors?.['minlength']"
    >
      Minimum 6 characters required!
    </mat-error>
  </mat-form-field>
  <br />
  <button type="submit" class="btn-submit">Submit</button>
</form>
