<div style="margin-top: 100px">
  <p class="pageTitle">Orders List</p>
</div>
<br />
<mat-accordion>
  @if (loader.isLoading | async) {
  <div>
      <mat-progress-bar
      mode="indeterminate"
      class="loader-container"
    ></mat-progress-bar>
  </div>
  <br />
  } @for (somstitem of somstlist; track somstitem; let i=$index) {
  <mat-expansion-panel style="margin-bottom: 2%">
    <mat-expansion-panel-header (click)="onPanelClick(somstitem.order_id)">
      <mat-panel-title>
        <span
          >Delivered On:
          {{ somstitem.order_delivered_date | date : "medium" }}</span
        >
        <span>Amount: {{ somstitem.order_amount }} </span>
        <span>Status:{{ somstitem.order_status }}</span>

        <!-- <span> {{ item.order_date  }} </span> -->
      </mat-panel-title>
      <br />
      <br />
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @for (sodtlitem of sodetaillist; track sodtlitem; let i=$index) {
      <mat-panel-description
        style="cursor: pointer"
        (click)="prodDetails(sodtlitem.productid, $event)"
      >
        <span class="thumb-img">
          <img [src]="sodtlitem.imageurl" alt="picture" class="prodHalfImage" />
        </span>
        <span>{{ sodtlitem.productname }}</span>
        <span> Order Qty: {{ sodtlitem.product_qty }}</span>
        <span>Unit Price: {{ sodtlitem.product_unit_price_applied }}</span>

        <!-- Currently I am {{ item.panelOpenState ? "open" : "closed" }} -->
        <!-- <span>Amount: {{ item.order_amount }} </span> -->
      </mat-panel-description>
      }
    </ng-template>

    <p>
      <!-- <span> {{ item.content.name }}</span>
      <span> {{ item.content.age }}</span> -->
    </p>
  </mat-expansion-panel>
  }
</mat-accordion>
