<div class="scroll-container scrollmenu">
  <div *ngIf="loader.isLoading | async">
      <mat-progress-bar
      mode="indeterminate"
      class="loader-container"
    ></mat-progress-bar>
  </div>
  <div
    class="img-thumb card"
    style="margin-bottom: 5px; margin-left: 0px"
    *ngFor="let brand of brandsArray; let i = index"
  >
    <div
      appearance="outlined"
      title="Brands Page"
      class="flex-item flex-card"
      (click)="prodByBrand(brand.brandid, $event)"
    >
      <div class="card-header">
        <img width="73px" height="73px" [src]="brand.brandlogo" alt="picture" />
      </div>
      <br />
      <div class="card-content">
        <p style="height: 30px; min-height: 30px; flex-wrap: wrap">
          {{ brand.brandname }}
        </p>

        <p style="font-size: 9px; margin-bottom: 2px" title="Brand Page">
          {{ brand.mfgname }}
        </p>
      </div>
    </div>
  </div>
</div>
